#more {
    display: none;
}
#btn1 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more2 {
    display: none;
}
#btn2 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more3 {
    display: none;
}
#btn3 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more4 {
    display: none;
}
#btn4 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more5 {
    display: none;
}
#btn5 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}