#more {
    display: none;
}
#btn1 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more2 {
    display: none;
}
#btn2 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more3 {
    display: none;
}
#btn3 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more4 {
    display: none;
}
#btn4 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more5 {
    display: none;
}
#btn5 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more6 {
    display: none;
}
#btn6 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more7 {
    display: none;
}
#btn7 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more8 {
    display: none;
}
#btn8 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more9 {
    display: none;
}
#btn9 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more10 {
    display: none;
}
#btn10 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more11 {
    display: none;
}
#btn11 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more12 {
    display: none;
}
#btn12 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more13 {
    display: none;
}
#btn13 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more14 {
    display: none;
}
#btn14 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more15 {
    display: none;
}
#btn15 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more16 {
    display: none;
}
#btn16 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more17 {
    display: none;
}
#btn17 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.sidebar {
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }

#content-wrapper{
    padding-left: 14rem;
}

/* [IMAGE] */
.zoomD {
    width: 230px;
    height: auto;
    cursor: pointer;
  }
  
  /* [LIGHTBOX BACKGROUND] */
  #lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
  }
  #lb-back.show {
    visibility: visible;
    opacity: 1;
  }
  
  /* [LIGHTBOX IMAGE] */
  #lb-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  #lb-img img {
    /* You might want to play around with 
       width, height, max-width, max-height
       to fit portrait / landscape pictures properly. */
    width: 40%;
    height: auto;
   
    /* ALTERNATE EXAMPLE
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto; */
  }
  
  /* [DOES NOT MATTER] */
  html, body {
    padding: 0;
    margin: 0;
  }

.badge-mine {
    color: white;
    background-color: #ff6600;
 }

 .badge-mine2 {
    color: white;
    background-color: #b30000;
 }

 #parameter{
    font-size: 14px;
    line-height: 0;
    width: 100%;
    float: left;
    margin-top: 80px;
    padding-right: 0px;
    padding-left: 0px;
}

#singleparameter{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 3px;

}
