#more {
    display: none;
}
#btn1 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more2 {
    display: none;
}
#btn2 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more3 {
    display: none;
}
#btn3 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more4 {
    display: none;
}
#btn4 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more5 {
    display: none;
}
#btn5 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more6 {
    display: none;
}
#btn6 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more7 {
    display: none;
}
#btn7 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more8 {
    display: none;
}
#btn8 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more9 {
    display: none;
}
#btn9 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#more10 {
    display: none;
}
#btn10 {
    background-color: white;
    border: none;
    color: #4e73df ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}