{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}
{% load verbose_names %}

{% block title %}
RBA Case Study
{% endblock %}

{% block content %}
    <!-- Title Page  -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    </div>

    <!-- Phases Row -->
    <div class="row">
        <!-- Phase 1  -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <a class="text-gray-800" style="display:block" href="#phase_1">
                    <div class="card-body"> 
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Phase 1</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">  Context </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-info fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </a>    
            </div>
        </div>
        <!-- Phase 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <a class="text-gray-800" href="#phase_2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Phase 2</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">  Risk Identification </div>                                        </div>
                            <div class="col-auto">
                                <i class="fas fa-search fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Phase 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <a class="text-gray-800" href="#phase_3">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Phase 3
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">  Risk Analysis </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </a>    
            </div>
        </div>
        <!-- Phase 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <a class="text-gray-800" href="#phase_4">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Phase 4</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Risk Evaluation</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Map Content  -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4" >
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Map of the area</h6>   
                </div>
                <div class="card-body" style="padding: 0rem !important; height: 33rem;">
                    <div class="chart-area">
                        <iframe class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width:inherit; height: 33rem; border:0ch; margin: 0rem !important; padding: 0rem !important"  src="{{ object.map_embed_url}}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CS Description  -->
    {% if  object.description|default:'' != ''   %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Case Study Description</h6>
            </div>
            <div class="card-body">
                {{ object.description |slice:":400" }}
                <span id="dots">...</span>
                <span id="more">{{ object.description |slice:"400:"}}</span>
                <button id="btn1" onclick="myFunction()"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    {% endif %}

    <!-- Phase 1 -->
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card bg-primary text-white shadow">
                <div id="phase_1" class="card-body">
                    Context
                    <div class="text-white-50 small">Phase 1</div>
                </div>
            </div>
        </div>
        
        <!-- phase 1.1 -->
        {% if  object.study_area|default:'' != ''   %}
            <div class="col-lg-6 mb-4">   
                <div class="col-lg-12 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{% get_verbose_field_name object "study_area" %}</h6>
                        </div>
                        <div class="card-body"> 
                            {{ object.study_area |slice:":380" }}
                            <span id="dots2">...</span>
                            <span id="more2">{{ object.study_area |slice:"380:"}}</span>
                            <button id="btn2" onclick="myFunction2()"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>                
                </div>
            </div>
        {% endif %}
        <!-- phase 1.2 -->
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% get_verbose_field_name object "policy_objectives" %}</h6>
                </div>
                {% if  object.policy_objectives|default:'' != ''   %}
                    <div class="card-body"> 
                        {{ object.policy_objectives  |slice:":380" }}
                        <span id="dots3">...</span>
                        <span id="more3">{{ object.policy_objectives |slice:"380:"}}</span>
                        <button id="btn3" onclick="myFunction3()"><i class="fas fa-chevron-right"></i></button>
                    </div>
                {% endif %}
                <div class="card-body">
                    {% for i in object.polobj_objects.all %}
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2{{i.id}}"
                                            aria-expanded="true" aria-controls="collapseTwo2{{i.id}}" style="padding-left: 0px; color: #858796;">
                                            <i class="fa fa-plus-square"></i>
                                            <span>{{ i.polobj }}</span>
                                        </a>
                                    </div>
                                    <div id="collapseTwo2{{i.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                        <div class="bg-black py-2 collapse-inner rounded">
                                            <p class="collapse-item ">{{ i.polobj_desc }}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- left column phase1.3 -->
        <div class="col-lg-6 mb-4">
            <div class="col-lg-12 mb-4">  
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{% get_verbose_field_name object "ecosystem_services" %}</h6>
                    </div>
                    {% if  object.ecosystem_services|default:'' != ''   %}
                        <div class="card-body"> 
                            {{ object.ecosystem_services  |slice:":380" }}
                            <span id="dots10">...</span>
                            <span id="more10">{{ object.ecosystem_services |slice:"380:"}}</span>
                            <button id="btn10" onclick="myFunction10()"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        {% for i in object.eco_objects.all %} 
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEco{{i.id}}"
                                                aria-expanded="true" aria-controls="collapseEco{{i.id}}" style="padding-left: 0px; color: #858796;">
                                                <i class="fa fa-plus-square"></i>
                                                <span>{{i.es_type}} {{i.bio_type}} - {{ i.Title  }}</span>
                                            </a>
                                        </div>
                                        <div id="collapseEco{{i.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                            <div class="bg-black py-2 collapse-inner rounded">
                                                <p class="collapse-item ">{{ i.es_description| richtext }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>  
                        {% endfor %}
                    </div>
                </div>     
            </div>
        </div>

        <!-- right column phase1.4 -->
        <div class="col-lg-6 mb-4">
            <!-- 1.4 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% get_verbose_field_name object "future_scenarios" %}</h6>
                </div>
                {% if  object.future_scenarios|default:'' != ''   %}
                    <div class="card-body"> 
                        {{ object.future_scenarios |slice:":380" }}
                        <span id="dots6">...</span>
                        <span id="more6">{{ object.future_scenarios |slice:"380:"}}</span>
                        <button id="btn6" onclick="myFunction6()"><i class="fas fa-chevron-right"></i></button>
                    </div>
                {% endif %}
                <div class="card-body">
                    {% for i in object.futscen_objects.all %}
                        <ol class="list-group list-group-numbered">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo4{{i.id}}"
                                        aria-expanded="true" aria-controls="collapseTwo4{{i.id}}" style="padding-left: 0px; color: #858796;">
                                        <i class="fa fa-plus-square"></i>
                                        <span>{{ i.future_scen }}</span>
                                    </a>
                                </div>
                                <div id="collapseTwo4{{i.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                    <div class="bg-black py-2 collapse-inner rounded">
                                        <p class="collapse-item ">{{ i.future_scen_desc }}</p>
                                        <!-- <a target="_blank" rel="nofollow" href="{{ t.layer }}">Link to Source &rarr;</a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- <span class="badge bg-light">{{ t.pressure_type }}</span> -->
                            </li>
                        </ol>
                        
                    {% endfor %}
                </div>
            </div>


        </div>

        <!-- Phase2 -->
        <div class="col-lg-12 mb-4">
            <div class="card bg-success text-white shadow">
                <div id="phase_2" class="card-body">
                    Risk Identification
                    <div class="text-white-50 small">Phase 2</div>
                </div>
            </div>
        </div>
        <!-- 2.1 2.2 present e future -->
        <div class="col-lg-12 mb-4">
            <div class="row">
                <!-- left present condition --> 
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Present Condition" in i.condition_type %}    
                            <h5 style ="display: inline;"><span class="badge badge-secondary">2.1 {{i.condition_type}}</span></h5>
                        <!-- 2.2 Present -->
                        <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Description of th Present Conditions</h6>
                                </div>
                                {% if  i.description|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.description  |slice:":380" }}
                                        <span id="dots4">...</span>
                                        <span id="more4">{{ i.description |slice:"380:"}}</span>
                                        <button id="btn4" onclick="myFunction4()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Future Condition" in i.condition_type %}    
                            <h5 style ="display: inline;"><span class="badge badge-secondary">2.2 {{i.condition_type}}</span></h5>
                            <!-- 2.2 Future -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Description of th Future Conditions or Scenarios</h6>
                                </div>
                                {% if  i.description|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.description  |slice:":380" }}
                                        <span id="dots12">...</span>
                                        <span id="more12">{{ i.description |slice:"380:"}}</span>
                                        <button id="btn12" onclick="myFunction12()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
        

        <!-- 2.3 present e future -->
        <div class="col-lg-12 mb-4">
            <div class="row">
                <!-- left present condition --> 
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Present Condition" in i.condition_type %}    
                            <!-- 2.3 Present -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.3 Define main pressures / effects</h6>
                                </div>
                                {% if  i.main_pressures_effects|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.main_pressures_effects |slice:":380" }}
                                        <span id="dots5">...</span>
                                        <span id="more5">{{ i.main_pressures_effects |slice:"380:"}}</span>
                                        <button id="btn5" onclick="myFunction5()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% for t in i.phase2pressures_objects.all %}
                                        <ol class="list-group list-group-numbered">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo5{{t.id}}"
                                                        aria-expanded="true" aria-controls="collapseTwo5{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                        <i class="fa fa-plus-square"></i>
                                                        <span>{{ t.pressure_list.label }} - {{ t.pressure_list.code }}</span>
                                                    </a>
                                                </div>
                                                <div id="collapseTwo5{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                    <div class="bg-black py-2 collapse-inner rounded">
                                                        <p class="collapse-item ">{{ t.pressure_description | richtext }}</p>
                                                        <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                            <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                <i class="fas fa-external-link-alt"></i>
                                                            </a> 
                                                        </h6>
                                                        <p>{{ t.data_description | richtext }}</p>
                                                        <a target="_blank" rel="nofollow" href="{{ t.layer }}">Link to Layer &rarr;</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if "main" in t.pressure_type %}
                                                <span class="badge bg-primary text-white" >{{ t.pressure_type }}</span>
                                            {% else %}
                                                <span class="badge bg-light">{{ t.pressure_type }}</span>
                                            {% endif %}
                                            </li>
                                        </ol>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Future Condition" in i.condition_type %}    
                            <!-- 2.3 Future -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.3 Define main pressures / effects</h6>
                                </div>
                                {% if  i.main_pressures_effects|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.main_pressures_effects |slice:":380" }}
                                        <span id="dots13">...</span>
                                        <span id="more13">{{ i.main_pressures_effects |slice:"380:"}}</span>
                                        <button id="btn13" onclick="myFunction13()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% for t in i.phase2pressures_objects.all %}
                                        <ol class="list-group list-group-numbered">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo5f{{t.id}}"
                                                        aria-expanded="true" aria-controls="collapseTwo5f{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                        <i class="fa fa-plus-square"></i>
                                                        <span>{{ t.pressure_list.label }} - {{ t.pressure_list.code }}</span>
                                                    </a>
                                                </div>
                                                <div id="collapseTwo5f{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                    <div class="bg-black py-2 collapse-inner rounded">
                                                        <p class="collapse-item ">{{ t.pressure_description | richtext }}</p>
                                                        <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                            <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                <i class="fas fa-external-link-alt"></i>
                                                            </a> 
                                                        </h6>
                                                        <p>{{ t.data_description | richtext }}</p>
                                                        <a target="_blank" rel="nofollow" href="{{ t.layer }}">Link to Layer &rarr;</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if "main" in t.pressure_type %}
                                                <span class="badge bg-primary text-white" >{{ t.pressure_type }}</span>
                                            {% else %}
                                                <span class="badge bg-light">{{ t.pressure_type }}</span>
                                            {% endif %}
                                            </li>
                                        </ol>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
        

        <!-- 2.4 present e future -->

        <div class="col-lg-12 mb-4">
            <div class="row">
                <!-- left present condition --> 
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Present Condition" in i.condition_type %}    
                            <!-- 2.4 Present -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.4 Describe main sources of pressures / effects</h6>
                                </div>
                                {% if  i.main_source_effects|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.main_source_effects |slice:":380" }}
                                        <span id="dots7">...</span>
                                        <span id="more7">{{ i.main_source_effects |slice:"380:"}}</span>
                                        <button id="btn7" onclick="myFunction7()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% for t in i.phase2uses_objects.all %}
                                        <ol class="list-group list-group-numbered">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo6{{t.id}}"
                                                        aria-expanded="true" aria-controls="collapseTwo6{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                        <i class="fa fa-plus-square"></i>
                                                        <span>{{ t.use_list.label }}</span>
                                                    </a>
                                                </div>
                                                <div id="collapseTwo6{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                    <div class="bg-black py-2 collapse-inner rounded">
                                                        <p class="collapse-item ">{{ t.use_description | richtext }}</p>
                                                        <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                            <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                <i class="fas fa-external-link-alt"></i>
                                                            </a> 
                                                        </h6>
                                                        <p>{{ t.data_description | richtext }}</p>
                                                        <a target="_blank" rel="nofollow" href="{{ t.layer }}">Link to Source &rarr;</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if "main" in t.use_type %}
                                                <span class="badge bg-primary text-white" >{{ t.use_type }}</span>
                                            {% else %}
                                                <span class="badge bg-light">{{ t.use_type }}</span>
                                            {% endif %}
                                            </li>
                                        </ol>
                                    {% endfor %}
                                </div>
                            </div> 
                        {% endif %}
                    {% endfor %}       
                </div>
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Future Condition" in i.condition_type %}    
                            <!-- 2.4 Future -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.4 Describe main sources of pressures / effects</h6>
                                </div>
                                {% if  i.main_source_effects|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.main_source_effects |slice:":380" }}
                                        <span id="dots14">...</span>
                                        <span id="more14">{{ i.main_source_effects |slice:"380:"}}</span>
                                        <button id="btn14" onclick="myFunction14()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% for t in i.phase2uses_objects.all %}
                                        <ol class="list-group list-group-numbered">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo6f{{t.id}}"
                                                        aria-expanded="true" aria-controls="collapseTwo6f{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                        <i class="fa fa-plus-square"></i>
                                                        <span>{{ t.use_list.label }}</span>
                                                    </a>
                                                </div>
                                                <div id="collapseTwo6f{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                    <div class="bg-black py-2 collapse-inner rounded">
                                                        <p class="collapse-item ">{{ t.use_description | richtext }}</p>
                                                        <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                            <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                <i class="fas fa-external-link-alt"></i>
                                                            </a> 
                                                        </h6>
                                                        <p>{{ t.data_description | richtext }}</p>
                                                        <a target="_blank" rel="nofollow" href="{{ t.layer }}">Link to Source &rarr;</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if "main" in t.use_type %}
                                                <span class="badge bg-primary text-white" >{{ t.use_type }}</span>
                                            {% else %}
                                                <span class="badge bg-light">{{ t.use_type }}</span>
                                            {% endif %}
                                            </li>
                                        </ol>
                                    {% endfor %}
                                </div>
                            </div> 
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
        
        
        <!-- 2.5 present e future -->
        <div class="col-lg-12 mb-4">   
            <div class="row">
                <!-- left present condition --> 
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Present Condition" in i.condition_type %}
                               
                            <!-- 2.5 Present-->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.5 Describe main environmental responses</h6>
                                </div>
                                {% if  i.main_environmental_responses|default:'' != ''   %} 
                                    <div class="card-body"> 
                                        {{ i.main_environmental_responses |slice:":380" }}
                                        <span id="dots8">...</span>
                                        <span id="more8">{{ i.main_environmental_responses |slice:"380:"}}</span>
                                        <button id="btn8" onclick="myFunction8()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% for t in i.phase2env_objects.all %}
                                        <ol class="list-group list-group-numbered">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">
                                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo7{{t.id}}"
                                                            aria-expanded="true" aria-controls="collapseTwo7{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                            <i class="fa fa-plus-square"></i>
                                                            <span>{{ t.env_list.label }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapseTwo7{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                        <div class="bg-black py-2 collapse-inner rounded">
                                                            <p class="collapse-item ">{{ t.env_description | richtext }}</p>
                                                            <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                                <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                    <i class="fas fa-external-link-alt"></i>
                                                                </a> 
                                                            </h6>
                                                            <p>{{ t.data_description | richtext }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if "main" in t.env_type %}
                                                    <span class="badge bg-primary text-white" >{{ t.env_type }}</span>
                                                {% else %}
                                                    <span class="badge bg-light">{{ t.env_type }}</span>
                                                {% endif %}
                                            </li>
                                        </ol>
                                    {% endfor %}
                                </div>
                            </div>  
                        {% endif %}
                    {% endfor %}       
                </div>
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Future Condition" in i.condition_type %}    
                            <!-- 2.5 future -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.5 Describe main environmental responses</h6>
                                </div>
                                {% if  i.main_environmental_responses|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.main_environmental_responses |slice:":380" }}
                                        <span id="dots15">...</span>
                                        <span id="more15">{{ i.main_environmental_responses |slice:"380:"}}</span>
                                        <button id="btn15" onclick="myFunction15()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {% for t in i.phase2env_objects.all %}
                                        <ol class="list-group list-group-numbered">
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">
                                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo7f{{t.id}}"
                                                            aria-expanded="true" aria-controls="collapseTwo7f{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                            <i class="fa fa-plus-square"></i>
                                                            <span>{{ t.env_list.label }}</span>
                                                        </a>
                                                    </div>
                                                    <div id="collapseTwo7f{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                        <div class="bg-black py-2 collapse-inner rounded">
                                                            <p class="collapse-item ">{{ t.env_description | richtext }}</p>
                                                            <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                                <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                    <i class="fas fa-external-link-alt"></i>
                                                                </a> 
                                                            </h6>
                                                            <p>{{ t.data_description | richtext }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if "main" in t.env_type %}
                                                    <span class="badge bg-primary text-white" >{{ t.env_type }}</span>
                                                {% else %}
                                                    <span class="badge bg-light">{{ t.env_type }}</span>
                                                {% endif %}
                                            </li>
                                        </ol>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
        
        <!-- 2.6 present e future -->
        <div class="col-lg-12 mb-4">
           
            <div class="row">
                <!-- left present condition --> 
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Present Condition" in i.condition_type %}    
                            <!-- 2.6 present-->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.6 Source / Pressure / Pathway / Receptor Relationships</h6>
                                </div>
                                {% if  i.impact_chain|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.impact_chain |slice:":380" }}
                                        <span id="dots9">...</span>
                                        <span id="more9">{{ i.impact_chain |slice:"380:"}}</span>
                                        <button id="btn9" onclick="myFunction9()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    {{ i.graph|safe }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
                <div class="col-lg-6 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Future Condition" in i.condition_type %}
                            <!-- 2.6 Future -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">2.6 Source / Pressure / Pathway / Receptor Relationships</h6>
                                </div>
                                {% if  i.impact_chain|default:'' != ''   %}
                                    <div class="card-body"> 
                                        {{ i.impact_chain |slice:":380" }}
                                        <span id="dots16">...</span>
                                        <span id="more16">{{ i.impact_chain |slice:"380:"}}</span>
                                        <button id="btn16" onclick="myFunction16()"><i class="fas fa-chevron-right"></i></button>
                                    </div>
                                {% endif %}
                                <div class="card-body"> 
                                    {{ i.graph|safe }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
        
<!-- ############################################################################ -->
        <!-- Phase3 -->
        <div class="col-lg-12 mb-4">
            <div class="card bg-info text-white shadow">
                <div id="phase_3" class="card-body">
                    Risk Analysis
                    <div class="text-white-50 small">Phase 3</div>
                </div>
            </div>
        </div>
        
        <!-- 3.2 present e future -->
        <div class="col-lg-12 mb-4">
            <div class="row">
                <!-- left present condition --> 
                <div class="col-lg-12 mb-4">
                    {% for i in object.phase2.all %}
                        {% if "Present Condition" in i.condition_type %}    
                         <!-- 3.2 Present -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">3.2 Define Management Measures</h6>
                            </div>
                            {% if  i.mana_meas|default:'' != ''   %}
                                <div class="card-body"> 
                                    {{ i.mana_meas  |slice:":380" }}
                                    <span id="dots11">...</span>
                                    <span id="more11">{{ i.mana_meas |slice:"380:"}}</span>
                                    <button id="btn11" onclick="myFunction11()"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            {% endif %}
                            <div class="card-body">
                                {% for t in i.mana_meas_objects.all %}
                                    <ol class="list-group list-group-numbered">
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsemana{{t.id}}"
                                                        aria-expanded="true" aria-controls="collapsemana{{t.id}}" style="padding-left: 0px; color: #858796;">
                                                        <i class="fa fa-plus-square"></i>
                                                        <span>{{ t.manameas }}</span>
                                                    </a>
                                                </div>
                                                <div id="collapsemana{{t.id}}" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                                    <div class="bg-black py-2 collapse-inner rounded">
                                                        <p class="collapse-item ">{{ manameas_desc | richtext }}</p>
                                                        <!-- <h6 class="m-0 font-weight-medium text-primary">Data Source description 
                                                            <a target="_blank" rel="nofollow" href="{{ t.data_source }}">
                                                                <i class="fas fa-external-link-alt"></i>
                                                            </a> 
                                                        </h6> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <span class="badge bg-light">{{ t.use_type }}</span> -->
                                        </li>
                                    </ol>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}       
                </div>
            </div>
        </div>
        


        <!-- Phase4 -->
        <div class="col-lg-12 mb-4">
            <div class="card bg-warning text-white shadow">
                <div id="phase" class="card-body">
                    Risk Evaluation
                    <div class="text-white-50 small">Phase 4</div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

