{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}

{% block title %}
Case Studies List
{% endblock %}

{% block content %}


    <!-- Page Heading -->
    <div class=" d-sm-flex align-items-center justify-content-between mb-4"> 
        <h1 class="h3 mb-0 text-gray-800">BRIDGE BS Case Studies</h1>
    </div>

    <!-- Content Row -->
    <div class="row" >
        <div class="col-12 container">
            
            <!-- Case Studies -->
                <div  class="row">
                    {% for cs in object_list %}
                    <div class="col-6">
                        <a style="display:block" target="_blank" rel="nofollow" href="{% url 'cs-view' cs.id %}">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ cs.title }}</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <div class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;">
                                            {% image cs.image width-550%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>

        </div>
    </div>
    
{% endblock %}