{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}

{% block title %}
Case Studies List
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class=" d-sm-flex align-items-center justify-content-between mb-4"> 
        <h1 class="h3 mb-0 text-gray-800">BRIDGE BS Case Studies</h1>
    </div>

    <!-- Content Row -->
    <div class="row justify-content-around">
        <div class="col-12 container ">
            <!-- Case Studies -->
            <div  class="row justify-content-around">
                {% for cs in object_list|dictsort:"title" %}
                    <div class="col-5">
                        <a style="display:block" target="_blank" rel="nofollow" href="{% url 'cs-view' cs.id %}">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ cs.title }}</h6>
                                </div>
                                <div class="card-body" style="padding:0">
                                  <div class="row justify-content-around"> {% image cs.image max-300x250 %} </div>  
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}