{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}

{% block title %}
    Documentation
{% endblock %}

{% block content %}
    <div class=" d-sm-flex align-items-center justify-content-between mb-4"> 
        <h1 class="h3 mb-0 text-gray-800">{{ self.doctitle }}</h1>
    </div>
               
        <div class="card shadow mb-4">
            <!-- <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ cs.title }}</h6>
            </div> -->
            <div class="card-body">
                <p>{{ self.docdesc | richtext  }} </p>
            </div>
        </div>
    

{% endblock %}