<table id="table" class="table table-light table-striped">
    <thead>
      <tr>
          
            <th scope="col"></th>

            {% for j in table.col %}
                <th title="{{ j.1 }}" scope="col"> {{ j.0 }} </th>
            {% endfor %}
      </tr>
    </thead>
    <tbody style="text-align: left;">
        {% for l in table.row %}
        <tr> 
            {% if "H" in l.2 %}
                
                <th title="{{ l.1 }}"  scope="row"><span class="badge badge-mine2 text-white" >{{ l.2 }}</span> {{ l.0}}</th>
            
            {% elif "M" in l.2 %}
                
                <th title="{{ l.1 }}"  scope="row"><span class="badge badge-mine text-white" >{{ l.2 }}</span> {{ l.0}}</th>
           
            {% elif "L" in l.2 %}
                

                <th title="{{ l.1 }}"  scope="row"> <span class="badge bg-warning text-white" >{{ l.2}}</span> {{ l.0}}</th>
            {% else  %}
                <th title="{{ l.1 }}"  scope="row" >{{ l.0}}</th>
            {% endif %}
            {% for j in table.col %}
                {% with coso=j.0|add:l.0 %} 
                   
                    <td>
                        {% for c in table.boxdict|get_item:coso %}
                            <i class="{{ c  }}"></i>
                        {% endfor %}
                    </td>
                {%  endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>